{% extends 'base.html' %}

{% block content %}
<div class="column is-full-mobile is-one-half-tablet is-three-fifths-desktop is-one-half-widescreen is-one-third-fullhd">
    <form method="POST" action="/submit?duck_id={{ duck_id }}">
        <div class="field">
            How did you like the placement of this duck?
            <div class="columns is-mobile">
                <label class="column is-narrow">I wish I didn't see it</label>
                <input class="column" id="coolness" type="range" name="rating" min="0" max="11" step="0.0001">
                <label class="column is-narrow" for="coolness">This made my day</label>
            </div>
        </div>
        <br>
        <div class="field control field">
            <div class="columns is-mobile">
                <div class="column">
                    Did you find the duck in {{ building }} on the {{ floor }} floor?
                </div>
                <div class="column is-narrow">
                    <label class="radio">
                        <input class="radio" type="radio" name="same_pos" value="T">
                        Yes
                    </label>
                </div>
                <div class="column is-narrow">
                    <label class="radio">
                        <input class="radio" type="radio" name="same_pos" value="F"><label>
                        No
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="field control field">
            <div class="columns is-mobile">
                <div class="column">
                    Did you move the duck from where you found it?
                </div>
                <div class="column is-narrow">
                    <label class="radio">
                        <input class="radio" type="radio" name="moved" value="T">
                        Yes
                    </label>
                </div>
                <div class="column is-narrow">
                    <label class="radio">
                        <input class="radio" type="radio" name="moved" value="F"><label>
                        No
                    </label>
                </div>
            </div>
        </div>
        <br>
        <input class="button is-primary is-light" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
