{% extends 'base.html' %}

{% block content %}
<div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
    <div class="block">
        Here is where the about us information could go
    </div>
    <div class="block">
        Check us out on instagram <a href="https://www.instagram.com/wurubberducks/">@wurubberducks</a>!
        (this could also be in the about me paragraph/sentence if that makes more sense)
    </div>
    <div class="block">
        If you are feeling generous or inspired and want to support our team, feel free to head to
        <a href="https://gofund.me/dfa08205">our gofundme</a>, where all proceeds will go towards maintaining this project.
    </div>
</div>
{% endblock %}
