{% extends 'base.html' %}

{% block content %}
    <p>
        This site is currently still under development, but we appreciate your interest!
        Check us out on instagram <a href="https://www.instagram.com/wurubberducks/">@wurubberducks</a>
    </p>
    <p>
        If you are feeling generous or inspired and want to support our team, feel free to head to
        <a href="https://gofund.me/dfa08205">our gofundme</a>, where all proceeds will go towards maintaining this project.
    </p>
{% endblock %}
