{% extends 'base.html' %}

{% block content %}
<table class="table is-hoverable">
  <tr style="text-align:left">
    <th>
      response_id
    </th>
    <th>
      duck_id
    </th>
    <th>
      rating
    </th>
    <th>
      moved
    </th>
    <th>
      same_pos
    </th>
    <th>
      response_time
    </th>
  </tr>
  {% for response in responses %}
  <tr>
    <td>
      {{ response.response_id }}
    </td>
    <td>
      {{ response.duck_id }}
    </td>
    <td>
      {{ response.rating }}
    </td>
    <td>
      {{ response.same_pos }}
    </td>
    <td>
      {{ response.moved }}
    </td>
    <td>
      {{ response.response_time }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
